{% extends 'common/base.html' %}
{% block content %}

<div class="container justify-content-center">
    <div class="card border-primary" style="max-width: 100rem;">
        <div class='card-header'>
            <b>Detalhes:</b>
        </div>

        <div class="card-body">
            <h3 class="card-title text-primary">{{ pipeline.str_title }}</h3>
            <h3 class="card-text-secondary-emphasis">Data de Inicio:</h3>
            <p class="card-text">{{ pipeline.dth_start_at }}</p>

            <h3 class="card-text-secondary-emphasis">Data do Fim:</h3>
            <p class="card-text">{{ pipeline.dth_end_at }}</p>

            <h3 class="card-text-secondary-emphasis">Descrição:</h3>
            <p class="card-text">{{ pipeline.str_desc }}</p>

            <h3 class="card-text-secondary-emphasis">Raci:</h3>
            <p class="card-text">{{ pipeline.raci_activity }}</p>


            <a href="{{ new_step }}"><button type="button" class="btn btn-info mt-4">Adicionar novo Step.</button></a>

        </div>
    </div>
</div>

{% endblock %}

