header {
    background-color: white; /* Cor de fundo branca */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra na borda inferior */
}
/* Estilo personalizado para as informações de atalho */
.navbar-nav {
    margin: 0 auto; /* Centraliza os links */
    display: flex; /* Exibe os links em uma linha */
    align-items: center; /* Alinha os links verticalmente no centro */
}
/* Estilo personalizado para cada link individual (opcional) */
.nav-item {
    margin: 0 10px; /* Espaçamento entre os links */
}
/* Estilo personalizado para o logo */
.navbar-brand {
    margin-right: auto; /* Move o logo para o lado direito */
}