{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3 class="text-primary">
                Contatos
            </h3>
        </div>

        <div class="card-body mt-1">
            <div class="row mt-2">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>E-mail</th>
                                <th>E-mail Comercial</th>
                                <th>Telefone</th>
                                <th>Telefone Comercial</th>
                                <th>Cargo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in contacts %}
                            <tr>
                                <td><a href="{{contact.detail_url}}">{{ contact.contact_id }}</a></td>
                                <td>{{ contact.str_first_name }}</td>
                                <td>{{ contact.str_last_name }}</td>
                                <td>{{ contact.str_email }}</td>
                                <td>{{ contact.str_comercial_email }}</td>
                                <td>{{ contact.str_phone_number }}</td>
                                <td>{{ contact.str_comercial_phone_number }}</td>  
                                <td>{{ contact.str_type_contact }}</td>              
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a href="{{new_contact}}" class="btn btn-primary mt-2">Novo Contato</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

