{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class='card-header text-center'>
            <h3 class="text-primary">Novo Sistema</h3>    
        </div>

        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                
                <h4>Dados do Sistema:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.str_title }}
                    <small><p>Nome do Sistema.</p></small>
                        {% if form.str_title.errors %}
                            <div class="text-danger">
                                {{ form.str_title.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.str_status }}
                        <small><p>Status do Sistema.</p></small>
                        {% if form.str_status.errors %}
                            <div class="text-danger">
                                {{ form.str_status.errors }}
                            </div>
                        {% endif %}
                    </div>   
                </div>

                <div class='row mt-2 justify-content-center'>
                    <div class="col">
                        {{ form.str_desc }}
                        <small><p>Descrição.</p></small>
                        {% if form.str_desc.errors %}
                            <div class="text-danger">
                                {{ form.str_desc.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <h4>Informações de conexão SQLite:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.str_engine }}
                    <small><p>Host.</p></small>
                        {% if form.str_engine.errors %}
                            <div class="text-danger">
                                {{ form.str_engine.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.str_database_name }}
                        <small><p>User.</p></small>
                        {% if form.str_database_name.errors %}
                            <div class="text-danger">
                                {{ form.str_database_name.errors }}
                            </div>
                        {% endif %}
                    </div> 
                </div>

                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn btn-primary mt-3 text-rigth">Cadastrar</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}