{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">

	<div class="col">
		<div class="row mt-2 mb-2">

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<img src="{% static  system.img_path  %}" alt="Bootstrap" width='100' height='100'>
						</div> 

						<div class="col">
							<div class="row mt-2">
								{{ system.str_title }}
							</div>
							<div class="row mt-2">
								{{ system.str_desc }}
							</div>		
						</div>

						<div class="col">
							<div class="row mt-2">
								{{ system.str_status }}
							</div>
							<div class="row mt-2">
								Responsavel:
							</div>
							<div class="row mt-2">
								Aprovador:
							</div>
							<div class="row mt-2">
								Criação: {{ system.dth_start_At}}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row mt-2 mb-2">
			<div class="col">
				<div class="row" style='text-align: center;'>
					<p>Datasets</p>
				</div>
			</div>
		</div>

		<div class="row mt-2 mb-2">
			<div class="col">
				<div class="row">
					{% for dataset in datasets  %}
						<div class="col-md-4 mb-3">
							<div class="card">
								<div class="card-body">
									<div class="row mt-2 justify-content-center">
										{{ dataset.str_title }}
									</div>
									<div class="row mt-2 justify-content-center">
										{{ dataset.str_desc }}
									</div>
									<div class="row mt-2 justify-content-center">
										{{ dataset.dth_created_at }}
									</div>
								</div>
							</div>
						</div>
				{% if forloop.counter|divisibleby:3 and not forloop.last%}
					<div class="row mt-2"></div>
				{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

	</div>

	</div>
</div>

{% endblock %}

			