{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">

	<div class="col">
		<div class="row mt-2 mb-2">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="row">							
							<div class="col-md-2">
								<img src="{% static  system.img_path  %}" alt="Bootstrap" width="150" height="150">
							</div> 
							<div class="col-md-4">
								<h4>{{ system.str_title }}</h4>
								<p>{{ system.str_desc }}</p>
							</div>

							<div class="col-md-4">
								<p>Responsavel: Luiz Gustavo Cairo</p>
								<p>Aprovador: Jeremias Cairo</p>
								<p>Criação: {{ system.dth_start_At}}</p>
							</div>
							<div class='col-md-2'>
								{% if system.str_status == 'Ativo' %}
									<button type="button" class="btn btn-outline-success">{{ system.str_status }}</button>
								{% elif system.str_status == 'Inativo' %}
									<button type="button" class="btn btn-outline-danger">{{ system.str_status }}</button>
								{% else %}
									<button type="button" class="btn btn-outline-dark">{{ system.str_status }}</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-4 mb-2">
			<div class="col">
				<div class="row" style='text-align: center;'>
					<p>Datasets</p>
				</div>
			</div>
		</div>
		
		<div class="row mt-2">
			<div class="col">
				<div class="row">
					{% for dataset in datasets  %}
						<div class="col-md-4 mb-3">
							<div class="card">
								<div class="card-body">
									<div class="row mt-2 justify-content-center">
										{{ dataset.str_title }}
									</div>
									<div class="row mt-2 justify-content-center">
										{{ dataset.str_desc }}
									</div>
									<div class="row mt-2 justify-content-center">
										{{ dataset.dth_created_at }}
									</div>
									<div class="row mt-2">
										<div class="col" style="text-align: right;" >
											<a href="{{dataset.detail_url}}">ver mais</a>
										</div>
									</div>
								</div>
							</div>
						</div>
				{% if forloop.counter|divisibleby:3 and not forloop.last%}
					<div class="row mt-2"></div>
				{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row mt-2">
			<div class="col" style="text-align: left;">
				<a href="{{new_dataset}}"><button type="submit" class="btn btn-primary mt-3 text-rigth">Adicionar Dataset</button></a>
			</div>
		</div>

	</div>

	</div>
</div>

{% endblock %}

			