{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<h3 class="text-primary text-center">Contratos</h3>

<div class="row mt-3">
    <div class="col">
        <form role="search" method="get" action="{% url 'admin_list_contracts' %}">
            <input class="form-control mb-1" type="search" name="search" placeholder="Pesquisar" arial-label="Search" value="{{ query }}">
        </form>
    </div>
    <div class="col">
        <a href="/contract/" class="btn btn-primary">Adicionar Contrato</a>
    </div>
</div>

<table class="table mt-4 table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>#id</th>
            <th>Cliente</th>
            <th>Título</th>
            <th>Data de Inicio</th>
            <th>Data do Fim</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.contract_id }}</td>
                <td>{{ contract.customer.str_name }}</td>
                <td>{{ contract.str_title }}</td>
                <td>{{ contract.dth_start_at}}</td>
                <td>{{ contract.dth_end_at }}</td>
                <td>{{ contract.str_status }}</td>
                <td><a href="{{contract.detail_url}}"><button type="button" class="btn btn-light"><img src="{% static 'icons/pencil.svg' %}" width="20" height="20" alt="Card image"></button></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}