{% extends 'common/base.html' %}
{% block content %}


<h3 class="text-primary text-center">Contratos</h3>

<table class="table mt-4 table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>#id</th>
            <th>Cliente</th>
            <th>Título</th>
            <th>Data de Inicio</th>
            <th>Data do Fim</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.contract_id }}</td>
                <td>{{ contract.customer.str_name }}</td>
                <td>{{ contract.str_title }}</td>
                <td>{{ contract.dth_start_at}}</td>
                <td>{{ contract.dth_end_at }}</td>
                <td>{{ contract.str_status }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}