{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class='card-header text-center'>
            <h3 class="text-primary">Adicionar Execução</h3>    
        </div>

        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                
                <h4>Período:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.dth_start_at }}
                    <small><p>Data de inicio.</p></small>
                        {% if form.dth_start_at.errors %}
                            <div class="text-danger">
                                {{ form.dth_start_at.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.dth_last_updated }}
                        <small><p>Última atualização.</p></small>
                        {% if form.dth_last_updated.errors %}
                            <div class="text-danger">
                                {{ form.dth_last_updated.errors }}
                            </div>
                        {% endif %}
                    </div>   
                </div>

                <h4>Dados de execução:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.int_total_rows }}
                    <small><p>Quantidade de linhas.</p></small>
                        {% if form.int_total_rows.errors %}
                            <div class="text-danger">
                                {{ form.int_total_rows.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.int_total_size }}
                        <small><p>Tamanho total.</p></small>
                        {% if form.int_total_size.errors %}
                            <div class="text-danger">
                                {{ form.int_total_size.errors }}
                            </div>
                        {% endif %}
                    </div>   
                </div>

                <div class="row mt-2 w-50 justify-content-center">
                    <div class="col">
                    {{ form.str_status }}
                    <small><p>Status.</p></small>
                        {% if form.str_status.errors %}
                            <div class="text-danger">
                                {{ form.str_status.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn btn-primary mt-3 text-rigth">Salvar</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}