{% extends 'common/base.html' %}
{% block content %}

<div class="container justify-content-center">
    <div class="card border-primary" style="max-width: 100rem;">
        <div class='card-header'><b>Detalhes:</b></div>
        <div class="card-body">
            <h3 class="card-title text-primary">{{ customer.str_name }}</h3>
            <h3 class="card-text-secondary-emphasis">Tabela:</h3>
            <p class="card-text">{{ job.table.str_name }}</p>
            
            <h3 class="card-text-secondary-emphasis">Dataset:</h3>
            <p class="card-text">{{ job.table.dataset.str_title }}</p>

            <h3 class="card-text-secondary-emphasis">Descrição:</h3>
            <p class="card-text">{{ job.table.str_desc }}</p>

            <h3 class="card-text-secondary-emphasis">Status:</h3>
            <p class="card-text">{{ job.str_status }}</p>

        </div>
    </div>
</div>

{% endblock %}