{% extends 'common/base.html' %}
{% load static %}
{% block content %}


<div class='row'>
    <div class='col-md-2'>
        <h4>{{ job.table.dataset.system.str_title }}_{{ job.table.dataset.str_title }}</h4>
    </div>
    <div class='col'>
        <h4>{{ job.table.str_name }}</h4>
    </div>
</div>

<h4>Execução: {{ job.job_id }}</h4>

<table class="table mt-4 table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Data</th>
            <th class="text-center" scope="col">Tipo</th>
            <th class="text-center" scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
            <tr>
                <td class="text-center" scope="row">{{log.log_id}}</td>
                <td class="text-center" scope="row">{{log.dth_event_at}}</td>
                <td class="text-center" scope="row">{{log.str_type}}</td>
                <td class="text-center" scope="row">{{log.str_desc}}</td>
            </tr>
        {% empty %}
            <p>Não há execuções registradas.</p>
        {% endfor %}
    </tbody>
</table> 

{% endblock %}