{% load static %}

<nav class="navbar">
     <div class="right-header">
        <div class="interrogation">
            <a href="{% url 'home_page' %}">
                    <img src="{% static 'images/question-mark.png' %}" alt="interrogation-img">
            </a>
        </div>
        <div class="sino">
            <a href="{% url 'home_page' %}">
                    <img src="{% static 'images/notification-3-line.png' %}" alt="sino-img">
            </a>
        </div>
        <div class="profile">
            <a href="/user-profile/">
                    <img src="{% static 'images/Avatar.png' %}" alt="profile-img">
            </a>
        </div>
        <div class="profile-names">
            <a href="/user-profile/">
                <p><strong>{{ user.first_name}} {{user.last_name}}</strong></p>
                <p>{{ user.email }}</p>
            </a>
        </div>
    </div>
</nav>