{% extends 'common/base.html' %}
{% block content %}

<div class="container mt-2 d-flex justify-content-center">
    <div class="card-mt-2">
        <div class="card-header justify-content-center">
            <h3> Adicionar Conector </h3>
        </div>
        <div class="card-body justify-content-center">
            <div class="row mt-2">
                <a href="/new-sheets-table/" class="btn btn-primary mt-2">Adicionar Conector Google Sheets</a>
                <a href="/new-postgree-table/" class="btn btn-primary mt-2">Adicionar Conector Postgree SQL</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

