{% extends 'common/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-primary text-center">
            Lista de atividades
        </h3> 
        <a href="/raci/" class="btn btn-primary">
            Adicionar nova atividade
        </a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Type</th>
                    <th scope="col">Project Id</th>
                    <th scope="col">Private Key Id</th>
                    <th scope="col">Client E-mail</th>
                    <th scope="col">Client Id</th>
                    <th scope="col">Auth Uri</th>
                    <th scope="col">Token Uri</th>
                    <th scope="col">Auth Provider</th>
                    <th scope="col">Client Cert Url</th>
                    <th scope="col">Universe Domain</th>
                </tr>
            </thead>
            <tbody>
                {% for conector in conectors %}
                <tr>
                    <td scope="row"><a href="{{conector.detail_url}}">{{ conector.id_conector }}</a></th>
                    <td>{{ conector.type }}</td>
                    <td>{{ conector.project_id }}</td>
                    <td>{{ conector.private_key_id }}</td>
                    <td>{{ conector.private_key }}</td>
                    <td>{{ conector.client_email }}</td>
                    <td>{{ conector.client_id }}</td>
                    <td>{{ conector.auth_uri }}</td>
                    <td>{{ conector.token_uri }}</td>
                    <td>{{ conector.auth_provider_x509_cert_url }}</td>
                    <td>{{ conector.client_x509_cert_url }}</td>
                    <td>{{ conector.universe_domain }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


