{% extends 'common/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-primary text-center">
            Lista de dependecias 
        </h3> 
        <a href="/add-dependencies/" class="btn btn-primary">
            Adicionar nova dependencia
        </a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Tabela Pai</th>
                    <th scope="col">Tabela Filha.</th>
                </tr>
            </thead>
            <tbody>
                {% for dependency in dependency %}
                <tr>
                    <td scope="row"><a href="{{dependency.detail_url}}">{{ dependency.dependency_id }}</a></th>
                    <td>{{ dependency.customer }}</td>
                    <td>{{ dependency.table_node }}</td>
                    <td>{{ dependency.table_edge }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


