{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class='card-header text-center'>
            <h3 class="text-primary">Adicionar Coluna</h3>    
        </div>

        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                
                <h4>Escolha as tabelas:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.table_node }}
                    <small><p>Table node.</p></small>
                        {% if form.table_node.errors %}
                            <div class="text-danger">
                                {{ form.table_node.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.table_edge }}
                        <small><p>Table edge.</p></small>
                        {% if form.table_edge.errors %}
                            <div class="text-danger">
                                {{ form.table_edge.errors }}
                            </div>
                        {% endif %}
                    </div>   
                </div>

                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn btn-primary mt-3 text-rigth">Salvar</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}