{% load static %}

<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        
    </div>

    <ul class="list-unstyled components">

        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">

        <li>
            <a href="/" class='mt-4'><img src="{% static 'icons/house-door-fill.svg' %}" width="30" height="30" alt="Card image" >Inicio</a>
        </li>


        {% if user.is_superuser == True %}
            <li>
                <a href="/customer/"><img src="{% static 'icons/building-fill-add.svg' %}" width="30" height="30" alt="Card image">Novo cliente</a>
            </li>

            <li>
                <a href="/admin-customer-profiles/"><img src="{% static 'icons/boxes.svg' %}" width="30" height="30" alt="Card image">Clientes ativos</a>
            </li>

        {% else %}

            <li>
                <a href="/customer-profile/"><img src="{% static 'icons/buildings-fill.svg' %}" width="30" height="30" alt="Card image">Perfil da Empresa</a>
            </li>

            <li>
                <a href="/raci-list/"><img src="{% static 'icons/layers-fill.svg' %}" width="30" height="30" alt="Card image">Processos e envolvidos</a>
            </li>

            <li>
                <a href="/systems/"><img src="{% static 'icons/layout-text-window.svg' %}" width="30" height="30" alt="Card image">Sistemas</a>
            </li>

            <li>
                <a href="/search-tables/"><img src="{% static 'icons/border-outer.svg' %}" width="30" height="30" alt="Card image">Tabelas</a>
            </li>

            <li>
                <a href="/list-pipeline/"><img src="{% static 'icons/bezier.svg' %}" width="30" height="30" alt="Card image">Transformações</a>
            </li>

            <li>
                <a href="/dashboard/"><img src="{% static 'icons/clipboard-data-fill.svg' %}" width="30" height="30" alt="Card image">Dashboards</a>
            </li>


        {% endif %}

        <li>
            <form action="{% url 'user_logout'%}" method="post">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger" value="logout">Sair</button>
                    </button>
            </form>
        </li>

    </ul>

</nav>
