{% extends 'common/base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h3 class="text-primary text-center">
            Lista de Usuários
        </h3> 
        <a href="{{new_user}}" class="btn btn-primary mt-2">Novo usuário</a></td>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{{user.detail_url}}">{{ user.email }}</a></td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}