{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <a href=""><button class="btn btn-primary mt-3 text-rigth">Grupo de Acesso</button></a>
                        </div>
                        <div class="col">
                            <a href=""><button class="btn btn-primary mt-3 text-rigth">Staff</button></a>
                        </div>
                        <div class="col">
                            <a href=""><button class="btn btn-primary mt-3 text-rigth">Historico de Login</button></a>
                        </div>
                        <div class="col">
                            <a href=""><button class="btn btn-primary mt-3 text-rigth">Alternar Senha</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'images/google-37.png'%}" alt="Bootstrap" width="100" height="100" class="rounded-circle mx-auto d-block border border-blue">                        
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ user.str_cargo }}                     
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        Nome: {{ user.first_name }}    
                    </div>
                    <div class="row">
                        Sobrenome: {{ user.last_name }}
                    </div>
                    <div class="row">
                        Telefone: {{ user.str_telefone }}
                    </div>
                    <div>
                        E-mail: {{ user.email }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        Ícone_Insta | @xpto_xpto
                    </div>
                    <div class="row">
                        Ícone_Linkedin | xpto xpto
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="row justify-content-center">
                                Processos envolvidos
                            </div>
                            <div class="row mt-2">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titulo</th>
                                            <th scope="col">Data de Criação</th>
                                            <th scope="col">Tipo Env.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for activity in activities %}
                                        <tr>
                                            <td scope="row">{{ activity.str_title }}</td>
                                            <td scope="row">{{ activity.dth_create_at }}</td>
                                            <td scope="row">{{ activity.str_type}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}