{% extends 'common/base.html' %}
{% block content %}

<div class='container'>
    <div class="card">
        <div class='card-header text-center'>
            <h3>Detalhes</h3> 
        </div>
        <div class='card-body'>
            <h4 class="card-title mt-2">{{ customer.str_name }}</h4>

            <div class="row mt-3">
                <div class="col mt-2">
                    <h5><b>CNPJ: </b></h5>
                    <p>{{ customer.str_cnpj }}</p>
                </div>

                <div class="col mt-2">
                    <h5><b>Setor:</b></h5>
                    <p>{{ customer.str_setor }}</p>
                </div>

                <div class="col mt-2">
                    <h5>Tipo:</h5>
                    <p>{{ customer.str_customer_type }}</p>
                </div>

                <div class="col mt-2">
                    <h5><b>Comentários:</b></h5>
                    <p>{{ customer.str_comments }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row mt-2">
                <div class="col">
                    <a href="{{users}}">Verificar Usuários</a>
                </div>

                <div class="col">
                    <a href="{{new_table}}">Adicionar Tabela</a>
                </div>

                <div class="col">
                    <a href="{{new_system}}">Novo Sistema</a>
                </div>

                <div class="col">
                    <a href="{{new_user}}"> Novo Usuário</a>
                </div>

                <div class="col">
                    <a href="{{new_task}}">Nova Tarefa</a>
                </div>

                <div class="col">
                    <a href="{{view_tables}}">Verificar Tabelas</a>
                </div>

                <div class="col">
                    <a href="{{new_contract}}">Novo Contrato</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
