{% extends 'common/base.html' %}
{% block content %}

<h3 class="text-primary">Nova Tarefa</h3>

<form method="post" class="form">

    {% csrf_token %}

    <h4>Dados da tarefa:</h4>

    <div class="row mt-2 justify-content-center">
        <div class="col">
            {{form.str_title}}
            <small><p>Titulo.</p></small>
            {% if form.str_title.errors %}
                <div class="text-danger">
                    {{ form.str_title.errors }}
                </div>
             {% endif %}
        </div>
        <div class="col">
            {{form.str_status}}
            <small><p>CNPJ.</p></small>
            {% if form.str_status.errors %}
                <div class="text-danger">
                    {{ form.str_status.errors }}
                </div>
            {% endif %}
        </div>
    </div>

</form>

{% endblock %}