#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg02);
  position: relative;
  transition: width 0.5s ease-in-out, min-width 0.5s ease-in-out;
  min-width: 100px;
  z-index: 2;
}

#sidebar .logotipo {
  margin-block-end: 10px ;
}

#sidebar_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.search-button {
  display: flex;
  align-items: center;
  width: 52px;
  height: 40px;
  background-color: #f0f0f0;
  border: solid 1px #D0D5DD;
  border-radius: 8px;
  padding: 10px 14px 10px 14px;
  opacity: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  margin-block: 10px;
}

.search-content {
  display: flex;
  align-items: center;

}

.search-button img {
  transition: transform 0.3s ease-in-out;
}

.search-text {
  display: none;
  font-size: 14px;
  color: #B6BCC3;
}

.search-input {
  width: 80px;
  display: none;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.search-input::placeholder {
  color: #B6BCC3;
  font-size: 14px;
  opacity: 1;
}

.search-button.expanded {
  display: flex;
  align-items: center;
  width: 220px;
  padding: 3px;
}
.search-button.expanded img {
  transform: translateX(10px);
}

.search-button.expanded .search-input {
  display: inline;
  background-color: #f0f0f0;
  opacity: 1;
}

#side_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.side-item {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.side-item:hover:not(.active) {
  background-color: var(--principal-color);
}

#logout_btn:hover {
  background-color: var(--cores-de-apoio01);
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #454F62;
}

.side-item.active a {
  color: #e3e9f7;
}

.side-item:hover:not(.active) .item-description {
  color: var(--bg02);
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

#logout {
  border-top: 1px solid #e3e9f7;
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#logout_btn img {
  margin-inline-start: 20px;
}

#open_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: #FFFF;
  color: #e3e9f7;
  border-radius: 100%;
  border: 0.6px solid #E3E3E3; 
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: right 0.3s ease, transform 0.3s ease;
}

#open_btn img {
  max-width: 80%;
  max-height: 80%;
}

#sidebar.open-sidebar #open_btn {
  right: -30px;
}

#open_btn_icon {
  transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-description {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #454F62;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: width .6s;
  height: 0px;
}

#sidebar.open-sidebar {
  width: 277px;
}

#sidebar.open-sidebar .logotipo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#sidebar.open-sidebar .logotipo img {
  margin-left: 14px;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}