{% extends 'common/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="card col-md-10">
        <div class="card-body">
            <h3 class="text-primary">Adicionar Tabela</h3>

            <form method="post" class="form">
                {% csrf_token %}

                <div class="row mt-1 justify-content-center">
                    <div class="col-md-10">
                        {{ form.id_customer.label_tag }} {{ form.id_customer }}

                        {% if form.id_customer.errors %}
                            <div class="text-danger">
                                {{ form.id_customer.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        {{ form.str_name.label_tag }} {{ form.str_name }}

                        {% if form.str_name.errors %}
                            <div class="text-danger">
                                {{ form.str_name.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-2">
                        {{ form.str_system.label_tag }} {{ form.str_system }}

                        {% if form.str_system.errors %}
                            <div class="text-danger">
                                {{ form.str_system.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-2">

                        {{ form.str_dataset.label_tag }} {{ form.str_dataset }}

                        {% if form.str_dataset.errors %}
                            <div class="text-danger">
                                {{ form.str_dataset.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-group col-md-3">

                        {{ form.str_frequency.label_tag }} {{ form.str_frequency }}

                        {% if form.str_frequency.errors %}
                            <div class="text-danger">
                                {{ form.str_frequency.errors }}
                            </div>
                        {% endif %}

                    </div>

                    <div class="col-md-3">

                        {{ form.str_mode.label_tag }} {{ form.str_mode }}

                        {% if form.str_mode.errors %}
                            <div class="text-danger">
                                {{ form.str_mode.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-4">
                        {{ form.str_type.label_tag }} {{ form.str_type }}

                        {% if form.str_type.errors %}
                            <div class="text-danger">
                                {{ form.str_type.errors }}
                            </div>
                        {% endif %}
                   </div>

                </div>

                <div class="row justify-content-center">
                    <div class="col-md-4">
                        {{ form.str_hour_of.label_tag }} {{ form.str_hour_of }}
                        {% if form.str_hour_of.errors %}
                            <div class="text-danger">
                                {{ form.str_hour_of.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row justify-content-center">

                    <div class="col-md-5">
                        {{ form.str_owner.label_tag }} {{ form.str_owner }}
                        {% if form.str_owner.errors %}
                            <div class="text-danger">
                                {{ form.str_owner.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-5">
                        {{ form.str_owner_email.label_tag }} {{ form.str_owner_email }}
                        {% if form.str_owner_email.errors %}
                            <div class="text-danger">
                                {{ form.str_owner_email.errors }}
                            </div>
                        {% endif %}
                    </div>

                </div>

                <div class="row justify-content-center">
                    <div class="col-md-10">
                        {{ form.str_desc.label_tag }} {{ form.str_desc }}
                        {% if form.str_desc.errors %}
                            <div class="text-danger">
                                {{ form.str_desc.errors }}
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8 mt-5">
                        <button class="btn btn-primary" type="submit">Salvar!</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}