{% extends 'common/base.html' %}
{% block content %}

<style>
thead, tbody { 
    display: block; 
}

tbody {
    max-height: 400px;
    overflow-y: scroll;
}

.text-rigth {
    text-align: right;
}

.text-center {
    text-align: center;
}

.table {
    border-collapse: collapse;
    background-color: #fff;
    width: 100%;
}

.table th,
.table td {
  padding: 10px;
  width:5%;
}

.table tbody tr {
  border-bottom: 1px solid #999;
}
</style>

<div class="container">

    <div class="card border-info mt-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="text-info"><b>{{ table.str_name }}</b>
                <small class="text-primary">{{ table.str_system }}</small>
            </h1>

            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-success">Mais</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop4" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" style="">
                        <a class="dropdown-item" href="{{ add }}">Adicionar uma Nova Coluna</a>
                        <a class="dropdown-item" href="{{ exclude }}">Excluir Colunas</a>
                        <a class="dropdown-item" href="{{ look_all }}">Ver Todas</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="text-body-tertiary">{{ table.str_dataset }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Frequência: {{ table.str_frequency }}</li>
                <li class="list-group-item">Modo: {{ table.str_mode }}</li>
                <li class="list-group-item">Descrição: {{ table.str_desc }}</li>
                <li class="list-group-item">Tipo de Ingestão: {{ table.str_type }}</li>
                <li class="list-group-item">Data de Cadastro: {{ table.dth_start_at }}</li>
                <li class="list-group-item">Camada: {{ table.layer }}</li>
                
                <li class="list-group-item">
                    Tamanho em GB: 
                    {% if table.int_size is None %}
                        0
                    {% else %}
                        {{ table.int_size }}
                    {% endif %}
                </li>
                
                <li class="list-group-item">
                    Quantidade de linhas: 
                    {% if table.int_number_of_rows is None %}
                        0
                    {% else %}
                        {{ table.int_number_of_rows }}
                    {% endif %}
                    
                </li>
            </ul>

            <a href="{{ add }}"><button type="button" class="btn btn-info mt-4">Adicionar nova coluna.</button></a>

            <a href="{{ new_job }}"><button type="button" class="btn btn-info mt-4">Adicionar uma nova execução.</button></a>

            <a href="{{ list_job }}"><button type="button" class="btn btn-info mt-4">Lista de execução.</button></a>             

            <div class="card border-info mt-2 justify-content-center">
                <table class="table table mt-4">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Name</th>
                            <th class="text-center" scope="col">Rename</th>
                            <th class="text-center" scope="col">Datatype</th>
                            <th class="text-center" scope="col">Tipo de infor.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column in columns %}
                            <tr>
                                <td class="text-center" scope="row">{{column.str_source_name}}</td>
                                <td class="text-center" scope="row">{{column.str_rename}}</td>
                                <td class="text-center" scope="row">{{column.str_datatype}}</td>
                                <td class="text-center" scope="row">
                                    {% if column.str_type == 'CPK' %}
                                        <span class="badge text-bg-primary rounded-pill">Chave Primaria</span>
                                    {% elif column.str_type == 'CFK' %}
                                        <span class="badge text-bg-secondary rounded-pill">Chave Extrangeira</span>
                                    {% elif column.str_type == 'SEN' %}
                                        <span class="badge text-bg-danger rounded-pill">Dado Sensivel</span>
                                    {% elif column.str_type == 'KDS' %}
                                        <span class="badge text-bg-light rounded-pill">Informação descritiva</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <p>Não há colunas cadastradas.</p>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
  

        </div>
    </div>
</div>
{% endblock %}