{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="nav-link active" href="#config">Configurações</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#cols" role="button" aria-haspopup="true" aria-expanded="false">Colunas</a>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" href="{{ add }}">Adicionar</a>
                <a class="dropdown-item" href="{{ exclude }}">Excluir</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ look_all }}">Ver Todas</a>
            </div>
        </li>
    </ul>

    <div class="card border-info mb-1" style="margin: 20px; max-width: 50rem;">
        <div class="card-header justify-content-center">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1 class="text-info"><b>{{ table.str_name }}</b>
                        <small class="text-primary">{{ table.str_system }}</small>
                    </h1>
                </div>
                <div class="col-4 ms-auto">
                    <button type="button" class="btn btn-danger">Editar</button>            
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="text-body-tertiary">{{ table.str_dataset }}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Frequência: {{ table.str_frequency }}</li>
                <li class="list-group-item">Modo: {{ table.str_mode }}</li>
                <li class="list-group-item">Descrição: {{ table.str_desc }}</li>
                <li class="list-group-item">Tipo de Ingestão: {{ table.str_type }}</li>
                <li class="list-group-item">Data de Cadastro: {{ table.dth_start_at }}</li>
                
                <li class="list-group-item">
                    Tamanho em GB: 
                    {% if table.int_size is None %}
                        0
                    {% else %}
                        {{ table.int_size }}
                    {% endif %}
                </li>
                
                <li class="list-group-item">
                    Quantidade de linhas: 
                    {% if table.int_number_of_rows is None %}
                        0
                    {% else %}
                        {{ table.int_number_of_rows }}
                    {% endif %}
                    
                </li>
            
            </ul>
        </div>
    </div>
</div>
{% endblock %}