{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<style>
    .myInput {
      padding: 20px;
      margin-top: -6px;
      border: 0;
      border-radius: 0;
      background: #f1f1f1;
    }
</style>

<div class='row'>
    <div class='col'>
        <form role="search" method="get" action="{% url 'list_system' %}">
            <input class="form-control mb-1" type="search" name="search" placeholder="Pesquisar" aria-label="Search" value="{{ query }}">
        </form>
    </div>
    <div class='col'>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">jQuery</a></li>
            <li><a href="#">Bootstrap</a></li>
            <li><a href="#">Angular</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="nav col-md-3 d-none d-md-block bg-dark sidebar" style="max-height: 80vh; overflow-y: auto; overflow-x: hidden;">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 365px;">

            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                <img src="{% static 'icons/table.svg' %}" alt="table" width="24" height="24" style="margin-right: 10px;">            
                <span class="fs-5 fw-semibold">Tabelas</span>
            </a>

            <div class="list-group list-group-flush border-bottom scrollarea">                    
                {% if tables|length > 0 %}
                    {% for table in tables %}

                        <a href="{{table.detail_url}}" class="list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                {%if table.layer == 'ingestion'%}
                                    <p><b>context.{{table.dataset.system.str_title}}_{{table.dataset.str_title}}_{{table.str_name}} </b></p>
                                {% else %}
                                    <p><b>app.{{table.step.pipeline.str_title}}_{{table.str_name}} </b></p>                            
                                {%endif%}

                                <small class="text-body-secondary"> {{table.str_system}} </small>
                            </div>
                            <div class="col-10 mb-1 small"> {{table.str_desc}} </div>
                        </a>
                    
                    {% endfor %}
                {% else %}
                    <p>Não há tabelas cadastradas.</p>
                {% endif %}

            </div>
        </div>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-md-4">
        <div class="card">
    
            <div class="card-body">
                <h1 class="text-info"><b>{{ card_table.str_name }}</b>
                    <small class="text-primary">{{ card_table.str_system }}</small>
                </h1>
    
                <a class="dropdown-item" href="{{ card_table.table_view }}">Ver Todas</a>

                <h5 class="text-body-tertiary">{{ card_table.str_dataset }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Frequência: {{ card_table.str_frequency }}</li>
                    <li class="list-group-item">Modo: {{ card_table.str_mode }}</li>
                    <li class="list-group-item">Descrição: {{ card_table.str_desc }}</li>
                    <li class="list-group-item">Tipo de Ingestão: {{ card_table.str_type }}</li>
                    <li class="list-group-item">Data de Cadastro: {{ card_table.dth_start_at }}</li>
                    <li class="list-group-item">Camada: {{ card_table.layer }}</li>
                    <li class="list-group-item">Palavras Chave: {{ card_table.str_key_words }}</li>

                    <li class="list-group-item">
                        Tamanho em GB: 
                        {% if card_table.int_size is None %}
                            0
                        {% else %}
                            {{ card_table.int_size }}
                        {% endif %}
                    </li>
                    
                    <li class="list-group-item">
                        Quantidade de linhas: 
                        {% if card_table.int_number_of_rows is None %}
                            0
                        {% else %}
                            {{ card_table.int_number_of_rows }}
                        {% endif %}
                        
                    </li>
                
                </ul>
            </div>
        </div>
    </main>

</div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".dropdown-menu li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
