{% extends 'common/base.html' %}
{% block content %}
 <div class="container">
        <h1 class="text-info">Tabelas Cadastradas</h1>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-primary col-6">
                    <tr>
                        <th class="col-1">Nome</th>
                        <th class="col-4">Descrição</th>
                        <th class="col-1">Sistema</th>
                        <!-- Adicione mais colunas conforme necessário -->
                    </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                        <tr class="table-light">
                            <th scope="row">
                                <a class="nav-link" href="{{ table.detail_url }}">{{ table.str_name }}</a>
                            </td>
                            <td>{{ table.str_desc }}</td>
                            <td>{{ table.str_system}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <!-- #heading for table -->
                <caption>Listagem de tabelas.</caption>                
            </table>
{% endblock %}
