{% extends 'common/base.html' %}
{% block content %}

<h3 class='text-primary text-center'> Responsabilidades e Atividades </h3>
<div class='row mt-3'>
    
    <div class='col-md-6'>
        <form role="search" method="get" action="{% url 'list_activities' %}">
            <input class="form-control mb-1" type="search" name="search" placeholder="Pesquisar" aria-label="Search" value="{{ query }}">
        </form>
    </div>

    <div class='col-md-3'>
        <a href="/raci/" class="btn btn-primary mr-2">
            Nova atividade
        </a>
    </div>

</div>

<table class="table mt-4 table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Aprovador</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in raci %}
            <tr>
                <td scope="row"><a href="{{activity.detail_url}}">{{ activity.activity_id }}</a></th>
                <td>{{ activity.str_title }}</td>
                <td>{{ activity.str_desc }}</td>
                <td>{{ activity.responsible.first_name }} {{ activity.responsible.last_name }}</td>
                <td>{{ activity.accountable.first_name }} {{ activity.accountable.last_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

 <!-- Paginação -->
 <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        {% if raci.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ raci.previous_page_number }}{% if search %}&search={{ search }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for num in raci.paginator.page_range %}
            {% if raci.number == num %}
                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
            {% elif num > raci.number|add:'-3' and num < raci.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search %}&search={{ search }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if raci.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ raci.next_page_number }}{% if search %}&search={{ search }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
