{% extends 'common/base.html' %}
{% block content %}

<h3 class='text-primary text-center'> Responsabilidades e Atividades </h3>
<div class='row mt-3'>
    <div class='col'>
        <form role="search">
            <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">
        </form>
    </div>
    <div class='col'>
        <a href="/raci/" class="btn btn-primary">
            Nova atividade
        </a>
    </div>
</div>

<table class="table mt-4 table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Aprovador</th>
        </tr>
    </thead>
    <tbody>
        {% for activity in raci %}
            <tr>
                <td scope="row"><a href="{{activity.detail_url}}">{{ activity.activity_id }}</a></th>
                <td>{{ activity.str_title }}</td>
                <td>{{ activity.str_desc }}</td>
                <td>{{ activity.responsible.first_name }} {{ activity.responsible.last_name }}</td>
                <td>{{ activity.accountable.first_name }} {{ activity.accountable.last_name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>


{% endblock %}
