{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class='card-header text-center'>
            <h3 class="text-primary">Adicionar Raci Activity</h3>    
        </div>

        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                
                <h4>Dados do pipeline:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.str_title }}
                    <small><p>Nome.</p></small>
                        {% if form.dth_start_at.errors %}
                            <div class="text-danger">
                                {{ form.dth_start_at.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.str_desc }}
                        <small><p>Descrição.</p></small>
                        {% if form.dth_end_at.errors %}
                            <div class="text-danger">
                                {{ form.dth_end_at.errors }}
                            </div>
                        {% endif %}
                    </div>   
                </div>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.responsible }}
                    <small><p>Responsavel.</p></small>
                        {% if form.responsible.errors %}
                            <div class="text-danger">
                                {{ form.responsible.errors }}
                            </div>
                        {% endif %}
                    </div>  

                    <div class="col">
                    {{ form.accountable }}
                    <small><p>Aprovador.</p></small>
                        {% if form.accountable.errors %}
                            <div class="text-danger">
                                {{ form.accountable.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn btn-primary mt-3 text-rigth">Salvar</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}