{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class='card-header text-center'>
            <h3 class="text-primary">Adicionar Relacionado</h3>    
        </div>

        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                
                <h4>Dados do relacionado:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.str_type }}
                    <small><p>Setor.</p></small>
                        {% if form.str_type.errors %}
                            <div class="text-danger">
                                {{ form.str_type.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.person }}
                        <small><p>Relacionado.</p></small>
                        {% if form.person.errors %}
                            <div class="text-danger">
                                {{ form.person.errors }}
                            </div>
                        {% endif %}
                    </div>   
                </div>

                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn btn-primary mt-3 text-rigth">Salvar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}