{% extends 'common/base.html' %}
{% block content %}

<div class="container justify-content-center">
    <div class="card border-primary" style="max-width: 100rem;">
        <div class='card-header'>
            <b>Detalhes:</b>
        </div>

        <div class="card-body">
            <h3 class="card-title text-primary">{{ customer.str_name }}</h3>
            <h3 class="card-text-secondary-emphasis">Atividade:</h3>
            <p class="card-text">{{ activity.str_title }}</p>

            <h3 class="card-text-secondary-emphasis">Descricao:</h3>
            <p class="card-text">{{ activity.str_desc }}</p>

            <h3 class="card-text-secondary-emphasis">Aprovador:</h3>
            <p class="card-text">{{ activity.accountable.first_name }}</p>

            <h3 class="card-text-secondary-emphasis">Responsavel:</h3>
            <p class="card-text">{{ activity.responsible.first_name }}</p>

            <h3 class="card-text-secondary-emphasis">Cor:</h3>
            <p class="card-text">{{ activity.str_color }}</p>

            <a href="{{new_related}}" class="btn btn-primary mt-2">Adicionar um relacionado</a></td>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id Custom User</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo de relacionado</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in related %}
                    <tr>
                        <th>{{ person.related_id }}</th>
                        <td>{{ person.person.first_name }}</td>
                        <td>{{ person.str_type }}</td>
                        <td>{{ person.person.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

