{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <title>PLANK</title>
    <!-- Inclua os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/darkly.min.css' %}">
    <style>
        body {
            padding-top: 80px; /* Ajuste para o corpo do conteudo ficar abaixo do header */
        }
    </style>
</head>
<body>

    {% include 'common/header.html' %}

    <div class="containe mt-5">
        {% block content %}

        {% endblock %}
    </div>

    {% include 'common/footer.html' %}

</body>
</html>