{% load static %}

<header>

    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="{% static 'images/dotpy_logo.png' %}" alt="Logo" class="img-fluid" style="max-width: 50px;">
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                
                    <li>
                        <a href="/customer/" class="nav-link text-secondary">
                            <img src="{% static 'icons/building-add.svg' %}" alt="Bootstrap" width="24" height="24">
                            Customers
                        </a>
                    </li>

                    <li>
                        <a href="/customer-profiles/" class="nav-link text-secondary">
                            <img src="{% static 'icons/building-add.svg' %}" alt="Bootstrap" width="24" height="24">
                            Customers
                        </a>
                    </li>

                    <li>
                        <a href="/" class="nav-link text-white">
                            <img src="{% static 'icons/speedometer2.svg' %}" alt="Bootstrap" width="24" height="24">
                            Dash
                        </a>
                    </li>

                    <li>
                        <a href="/add-table/" class="nav-link text-white">

                            <img src="{% static 'icons/table.svg' %}" alt="Bootstrap" width="24" height="24">
                            Tabela
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link text-white">
                            <img src="{% static 'icons/grid.svg' %}" alt="Bootstrap" width="24" height="24">
                            Tabelas
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link text-white">
                            <img src="{% static 'icons/people.svg' %}" alt="Bootstrap" width="24" height="24">
                            Users
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-light text-dark me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </div>
    </div>
</header>