{% extends 'common/base.html' %}
{% block content %}
{% load static %}

{% if user.is_superuser == True %}

<div class="row">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/people-fill.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Processos e envolvidos</h4>
                <p class="card-text">Clientes ativos.</p>
                <a href="/admin-customer-profiles/" class="btn btn-primary">Veja Mais...</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/file-earmark-arrow-down.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Contratos</h4>
                <p class="card-text">Contratos.</p>
                <a href="/admin-contract-list/" class="btn btn-primary">Veja Mais...</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/graph-up.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Serviços</h4>
                <p class="card-text">Serviços oferecidos pela DotPy</p>
                <a href="/service/" class="btn btn-primary">Veja Mais...</a>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class='row'>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/people-fill.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Processos e envolvidos</h4>
                <p class="card-text">Módulo para criação de atividades e atribuição de responsáveis e envolvidos.</p>
                <a href="/raci-list/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/database-fill-gear.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Sistemas</h4>
                <p class="card-text">Módulo para cadastro e gestão de sistemas a serem integrados.</p>
                <a href="/systems/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/file-earmark-arrow-down.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Dataset</h4>
                <p class="card-text">Módulo para organização contextual de dados.</p>
                <a href="/all-dataset/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

</div>

<div class='row mt-2'>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/file-spreadsheet-fill.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Tabela</h4>
                <p class="card-text">Módulo para armazenamento de metadados de tabelas.</p>
                <a href="/search-tables/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/bezier2.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Pipelines e Transformações</h4>
                <p class="card-text">Módulo para construção e gestão de fluxos e transformações de dados.</p>
                <a href="/list-pipeline/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/graph-up.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Dashboards</h4>
                <p class="card-text">Módulo para criação e análise de dashboards de dados.</p>
                <a href="/dashboard/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

</div>

<div class='row mt-2'>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/person-plus-fill.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Novo Usuário</h4>
                <p class="card-text">Módulo para criação de novos usuários no sistema.</p>
                <a href="#" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>

    <div class='col-md-4'>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'icons/building-fill-gear.svg' %}" width="50" height="50" alt="Card image">
                <h4 class="card-title mt-3">Configuração Empresa</h4>
                <p class="card-text">Configuração de parâmetros e ajustes específicos da empresa no sistema.</p>
                <a href="/customer-profile/" class="btn btn-primary">Veja Mais..</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}