{% load static %}

<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <img src="{% static 'images/plank_logo_branco.png' %}" alt="Bootstrap" width="150" height="150">
    </div>

    <ul class="list-unstyled components">
        <p>Serviços:</p>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configurações</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/customer-profile/">Perfil da Empresa</a>
                </li>

                <li>
                    <a href="/user-profile/">Perfil do Usuário</a>
                </li>
                    
            </ul>
        </li>

        {% if user.is_superuser %}
            <li>
                <a href="/customer/"><img src="{% static 'icons/building-fill-add.svg' %}" width="30" height="30" alt="Card image">Novo cliente</a>
            </li>

            <li>
                <a href="/admin-customer-profiles/"><img src="{% static 'icons/boxes.svg' %}" width="30" height="30" alt="Card image">Clientes ativos</a>
            </li>

        {% else %}

            <li>
                <a href="/raci-list/">Processos e envolvidos</a>
            </li>    

            <li>
                <a href="/chose-system/">Sistemas</a>
            </li>

            <li>
                <a href="/search-tables/">Tabelas</a>
            </li>

            <li>
                <a href="/list-pipeline/">Transformações</a>
            </li>

            <li>
                <a href="/dashboard/">Dashboards</a>
            </li>

        {% endif %}

        <li>
            <form action="{% url 'user_logout'%}" method="post">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger" value="logout">Sair</button>
                    </button>
            </form>
        </li>

    </ul>

</nav>