{% extends 'common/base.html' %}
{% block content %}

<div class="container">
    <div class="card">
        <div class='card-header text-center'>
            <h3 class="text-primary">Adicionar Serviço</h3>    
        </div>

        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                
                <h4>Informações do contrato:</h4>

                <div class="row mt-2 justify-content-center">
                    <div class="col">
                    {{ form.service }}
                    <small><p>Escolha o serviço.</p></small>
                        {% if form.service.errors %}
                            <div class="text-danger">
                                {{ form.service.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col" style="text-align: right;">
                    <button type="submit" class="btn btn-primary mt-3 text-rigth">Cadastrar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
